[Unit]
Description=Logstash
Documentation=https://www.elastic.co/products/logstash
After=network.target
#ConditionPathExists=/etc/logstash.conf
#
#[Service]
#User=gyeonghyun_lee
#Group=gyeonghyun_lee
#ExecStart=/home/gyeonghyun_lee/ES-Tutorial-ELK/packages/logstash/bin/logstash
#
#[Install]
#WantedBy=multi-user.target
